<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <div id="wrapper">
                <div class="container-side-left">

                    <select @change="selected" v-model="selected_genre" id="" class="">
                        <option value="">Tutti i generi</option>
                        <option :value="genre" v-for="genre in genres">{{genre}}</option>

                    </select>
                    <button @click="order_up" type="button" name="button">Ordino in modo crescente</button>
                    <button @click="order_down" type="button" name="button">Ordino in modo decrescente</button>
                </div>
                <div class="container-discs">
                    <div v-if="selected_genre == disc.genre || selected_genre == ''" v-for="disc in discs" class="card">
                        <div class="disc-box">
                            <div class="disc-content">
                                <div class="poster-img">
                                    <img :src="disc.poster" alt="">

                                </div>
                                <h4>{{disc.title}}</h4>
                                <h5>{{disc.author}} <span>({{disc.year}})</span></h5>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    <script src="main.js" charset="utf-8"></script>
    </body>
</html>
